.main {
  .image {
    background-image: url(https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=1525&q=80);
    background-size: cover;
    background-position: center center;
    width: $content-width;
    height: $main-image-height;
    margin-left: auto;
    margin-right: auto;
  }
  .product-menu {
    width: $page-width;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: $product-menu-mt;
  }
  .edge {
    overflow: hidden;
    margin-left: 2px;
  }
  .today-featured,
  .most-popular,
  .new-product {
    width: 259.67px;
    height: 256px;
    background-size: cover;
    background-position: center center;
    filter: blur(1px);
  }
  .today-featured {
    background-image: url(https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ed228f25bdefd2291c242f6d390fca&auto=format&fit=crop&w=1534&q=80);
    .transparent {
      background-color: rgba(255, 225, 128, 0.8);
    }
  }
  .most-popular {
    background-image: url(https://images.unsplash.com/photo-1504114133367-631ecd3db3ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b75e93d90cd88467ae5715becb431a26&auto=format&fit=crop&w=1572&q=80);
    .transparent {
      background-color: rgba(141, 162, 145, 0.8);
    }
  }
  .new-product {
    background-image: url(https://images.unsplash.com/photo-1499638472904-ea5c6178a300?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c27da96f7150c96a92ba8a53c8644761&auto=format&fit=crop&w=1400&q=80);
    .transparent {
      background-color: rgba(141, 162, 145, 0.8);
    }
  }
  .transparent {
    height: 256px;
  }
  a {
    text-decoration: none;
  }
  .why-make {
    height: 420px;
    margin-top: 80px;
    padding-left: $page-gap;
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .reason-img {
      width: $reason-img-wh;
      height: $reason-img-wh;
      background-image: url(https://images.unsplash.com/photo-1519730722595-a5ff788dea4d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2712a33fe9b13532f0682ac4e1e749b8&auto=format&fit=crop&w=1534&q=80);
      background-size: cover;
      background-position: center center;
      align-self: center;
    }
    .reason {
      writing-mode: vertical-rl;
      color: $primary;
    }
    .title {
      width: 90px;
      margin-right: $page-gap;
      margin-left: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .reason-h1-1 {
      margin-top: -20px;
    }
    .reason-h1-2 {
      // margin-right: $page-gap;
      margin-top: -5px;
    }
    .article {
      width: 256px;
      height: 280px;
      margin-top: 70px;
    }
    p {
      font-size: 16px;
      color: $article-color;
      line-height: 40px;
    }
  }
  .why-eat {
    height: 420px;
    margin-top: 105px;
    padding-right: $page-gap;
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .reason-img {
      width: $reason-img-wh;
      height: $reason-img-wh;
      background-image: url(https://images.unsplash.com/photo-1501432781167-c0ccfd492297?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=621c4e9986fba1c4514dfdc30e095bd2&auto=format&fit=crop&w=1539&q=80);
      background-size: cover;
      background-position: center center;
      align-self: center;
    }
    .reason {
      writing-mode: vertical-rl;
      color: $primary;
    }
    .title {
      width: 90px;
      margin-right: $page-gap;
      margin-left: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .reason-h1-1 {
      margin-top: -20px;
    }
    .reason-h1-2 {
      // margin-right: $page-gap;
      margin-top: -5px;
    }
    .article {
      width: 256px;
      height: 280px;
      margin-top: 70px;
      margin-left: 54px;
    }
    p {
      font-size: 16px;
      color: $article-color;
      line-height: 40px;
    }
  }
}
