$page-width: 1024px;
$page-height: 3424px;
$page-gap: 42px;
$header-height: 100px;
$primary: #3f5d45;
$secondary: #eaf0ed;
$white: #ffffff;
$content-width: 940px;
$main-image-height: 496px;
$product-menu-mt: -89px;
$reason-img-wh: 460px;
$article-color: #8da291;
$card-image-width: 300px;
$card-image-height: 315px;
$p-line-height-remove: -12px;
