.main-content {
  width: 100%;
  max-width: 1024px;
  .image {
    background-image: url(https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=1525&q=80);
    background-size: cover;
    background-position: center center;
    width: $content-width;
    height: $main-image-height;
    margin-left: auto;
    margin-right: auto;
  }
  @import './product-menu';
  @import './why-make';
  @import './why-eat';
  @import './no-reason';
  @import './product-preview';
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-content {
    .image {
      width: 100%;
    }
  }
}
