.why-eat {
  height: 420px;
  margin-top: 105px;
  background-color: $secondary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .reason-img {
    width: $reason-img-wh;
    height: $reason-img-wh;
    background-image: url(https://images.unsplash.com/photo-1501432781167-c0ccfd492297?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=621c4e9986fba1c4514dfdc30e095bd2&auto=format&fit=crop&w=1539&q=80);
    background-size: cover;
    background-position: center center;
    align-self: center;
    margin-right: $page-gap;
  }
  .reason {
    writing-mode: vertical-rl;
    color: $primary;
    margin-left: 55.5px;
  }
  .title {
    margin-left: 80px;
    margin-top: -20px;
  }
  .desktop-why-eat {
    width: 89px;
    height: 304px;
  }
  .article {
    width: 256px;
    height: 280px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  p {
    font-size: 16px;
    color: $article-color;
    line-height: 40px;
    margin-right: $p-line-height-remove;
    margin-left: $p-line-height-remove;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .why-eat {
    justify-content: space-around;
    .reason {
      margin-right: 20px;
    }
    .reason-img {
      width: 40%;
      height: auto;
      padding-bottom: 40%;
    }
    .title {
      margin-left: 40px;
    }
    .article {
      width: 60%;
    }
    p {
      line-height: 35px;
      margin-right: 0;
      margin-left: 0;
    }
  }
}
