header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #ffffff;
  > .header-container {
    width: 100%;
    max-width: 1024px;
    height: $header-height;
    margin: 0 auto;
    @include flex(row, space-between, center);
    padding-left: $page-gap;
    padding-right: $page-gap;
    > .ham-menu {
      display: none;
    }
    > .desktop-logo {
      width: 220px;
      height: 40px;
    }
    > .mobile-logo {
      display: none;
    }
    > ul {
      list-style: none;
      @include flex(row, space-between, center);
      > li {
        display: inline-block;
        margin-left: 60px;
        > a {
          text-decoration: none;
          font-size: 16px;
          font-weight: bold;
          color: $primary;
          &:hover {
            color: lighten($primary, 10%);
          }
        }
      }
      > .cart {
        margin-left: 79px;
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    .header-container {
      height: $mobile-header-height;
      padding-left: 0;
      padding-right: 0;
    }
    .ham-menu {
      width: 18px;
      height: 12px;
      margin-left: 33px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .menu-line {
        height: 2px;
        background-color: $primary;
      }
    }
    .desktop-logo {
      display: none;
    }
    .mobile-logo {
      width: 115px;
      height: 18px;
    }
    ul {
      padding: 0;
    }
    li {
      display: none;
    }
    .cart {
      display: inline-block;
      margin-left: 0;
      margin-right: 30px;
    }
  }
}
