$primary: #3f5d45;
$secondary: #eaf0ed;

$header-height: 100px;
$mobile-header-height: 84px;
$page-gap: 42px;
$main-image-width: 940px;
$main-image-height: 496px;
$product-image-width: 300px;
$product-image-height: 315px;
$tag-width: 36px;
$tag-height: 106.73px;
$category-width: 300px;
$category-height: 65px;
