@media (max-width: 767px) {
  .info-container {
    height: 311px;
    padding-top: 38.9px;
    padding-left: 30px;
    padding-right: 0;
    background-color: $secondary;
    color: $primary;
    font-size: 16px;
    font-weight: bold;
  }
  .good-day {
    display: none;
  }
  .info {
    width: 230px;
    height: 68px;
    margin-top: 39.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-bottom {
    margin-top: 37px;
    height: 71px;
    flex-direction: column;
  }
  .copyright {
    align-self: flex-start;
  }
}
