.sweet-info {
  height: 341px;
  padding-top: 38.9px;
  padding-left: 122px;
  padding-right: 122px;
  background-color: $secondary;
  color: $primary;
  font-size: 16px;
  font-weight: bold;
}
.sweetaste-image {
  height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.good-day {
  align-self: flex-start;
  margin-top: -8.9px;
}
.info {
  width: 230px;
  height: 68px;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-bottom {
  margin-top: 30px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  font-size: 0;
  a {
    text-decoration: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
}
.copyright {
  height: 16px;
  font-family: Times;
  font-weight: normal;
  align-self: flex-end;
}
