header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #ffffff;
  .header-container {
    width: 100%;
    max-width: 1024px;
    height: $header-height;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: $page-gap;
    padding-right: $page-gap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // width: 35%;
  }
  li {
    display: inline-block;
    margin-left: 60px;
  }
  .cart {
    margin-left: 79px;
  }
  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: $primary;
    &:hover {
      color: lighten($primary, 10%);
    }
  }
}
