.no-reason {
  width: 90px;
  height: 328px;
  writing-mode: vertical-rl;
  color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 95px;
}
.no-reason-h1-1 {
  align-self: flex-start;
  margin-top: 0;
}
.no-reason-h1-2 {
  align-self: flex-end;
  margin-bottom: 0;
}
