.subscribe {
  height: 116px;
  background-color: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.subscribe-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 122px;
  .text {
    font-size: 24px;
    color: $white;
    margin-left: 20px;
  }
}
.input-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 122px;
  .icon-mail {
    width: 64px;
    height: $input-height;
    color: $primary;
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 252px;
    height: $input-height;
    border-width: 0;
    background-color: $secondary;
    outline: none;
    color: $primary;
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }
  .submit {
    width: 64px;
    height: $input-height;
    color: $primary;
    background-color: #ffe180;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
