.main {
  margin-top: 30px;
  @include flex(row, center);
  @include media($tablet) {
    flex-wrap: wrap;
  }
  > .shipping {
    width: 460px;
    background-color: $primary;
    > .shipping-info {
      padding-left: 40px;
      padding-right: 40px;
      @include flex(column, flex-start, center);
      > .title {
        height: 50px;
        width: 100%;
        margin-top: 30px;
        @include flex(row, space-between, center);
        > .text {
          font-size: 36px;
          font-weight: bold;
          color: $secondary;
        }
        > .step {
          @include flex(row, flex-start, center);
          > div {
            width: 20px;
            height: 20px;
            background-color: $primary;
            border-radius: 50%;
            border: 1px solid $secondary;
          }
          > span {
            width: 65px;
            height: 1px;
            background-color: $secondary;
          }
          > .currently {
            background-color: $secondary;
            @include flex(row, center, center);
            border: none;
            > .inner {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              border: 2px solid $primary;
            }
          }
        }
      }
      > .name-area {
        margin-top: 30px;
        width: 100%;
        height: 92px;
        @include flex(row, space-between);
        > .last-name {
          height: 100%;
          @include flex(column, space-between, flex-start);
          > .text {
            width: 40px;
            height: 28px;
            font-size: 20px;
            font-weight: bold;
            color: $secondary;
            @include flex(row, center, center);
          }
          > input {
            width: 186px;
            height: 56px;
            background-color: $secondary;
            border: none;
            padding-left: 20px;
            font-size: 16px;
            color: #8da291;
          }
        }
        > .name {
          height: 100%;
          @include flex(column, space-between, flex-start);
          > .text {
            width: 40px;
            height: 28px;
            font-size: 20px;
            font-weight: bold;
            color: $secondary;
            @include flex(row, center, center);
          }
          > input {
            width: 186px;
            height: 56px;
            background-color: $secondary;
            border: none;
            padding-left: 20px;
            font-size: 16px;
            color: #8da291;
          }
        }
      }
      > .tel {
        width: 100%;
        height: 92px;
        margin-top: 16px;
        @include flex(column, space-between);
        > .text {
          width: 40px;
          height: 28px;
          font-size: 20px;
          font-weight: bold;
          color: $secondary;
        }
        > input {
          width: 100%;
          height: 56px;
          background-color: $secondary;
          border: none;
          padding-left: 20px;
          font-size: 16px;
          color: #8da291;
        }
      }
      > .address {
        margin-top: 16px;
        > .text {
          width: 40px;
          height: 28px;
          font-size: 20px;
          font-weight: bold;
          color: $secondary;
        }
        .input-area {
          margin-top: 8px;
          @include flex(row, space-between);
          flex-wrap: wrap;
          > input {
            height: 56px;
            background-color: $secondary;
            border: none;
            padding-left: 20px;
            font-size: 16px;
            color: #8da291;
          }
          > .city {
            width: 186px;
          }
          > .district {
            width: 186px;
          }
          > .detail {
            width: 100%;
            margin-top: 8px;
          }
        }
      }
    }
    > .next {
      width: 100%;
      height: 65px;
      margin-top: 30px;
      background-color: #ffe180;
      color: $primary;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      @include flex(row, center, center);
      &:hover {
        background-color: darken(#ffe180, 10%);
      }
    }
  }
  > .order {
    width: 300px;
    margin-left: 20px;
    @include media($tablet) {
      margin-top: 30px;
      width: 460px;
      margin-left: 0;
    }
    > .summary {
      border: {
        right: 1px solid $secondary;
        left: 1px solid $secondary;
        bottom: 1px solid $secondary;
      }
      > .title {
        height: 65px;
        font-size: 24px;
        font-weight: bold;
        color: #8da291;
        background-color: $secondary;
        @include flex(row, center, center);
      }
      > .content {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 16px;
        margin-bottom: 15px;
        color: #8da291;
        @include media($tablet) {
          width: 280px;
          margin-left: auto;
          margin-right: auto;
        }
        > .subtotal {
          width: 100%;
          height: 22px;
          font-size: 16px;
          @include flex(row, space-between, center);
        }
        > .freight {
          margin-top: 8px;
          width: 100%;
          height: 22px;
          font-size: 16px;
          @include flex(row, space-between, center);
        }
        > .total-price {
          margin-top: 16px;
          width: 100%;
          height: 28px;
          font-size: 20px;
          font-weight: bold;
          @include flex(row, space-between, center);
        }
      }
    }
    > .list {
      margin-top: 20px;
      border: {
        right: 1px solid $secondary;
        left: 1px solid $secondary;
        bottom: 1px solid $secondary;
      }
      > .title {
        height: 65px;
        font-size: 24px;
        font-weight: bold;
        color: #8da291;
        background-color: $secondary;
        @include flex(row, center, center);
      }
      > .product-info {
        margin-left: 20px;
        margin-top: 16px;
        margin-bottom: 15px;
        @include flex();
        @include media($tablet) {
          margin-left: auto;
          margin-right: auto;
          width: 280px;
          justify-content: space-between;
        }
        > .product-image {
          width: 120px;
          height: 80px;
          background-size: cover;
          background-position: center center;
        }
        > .image {
          &-1 {
            background-image: url(https://images.unsplash.com/photo-1504855328839-2f4baf9e0fd7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db0c8e5539456faeca0e49c79e2ccb16&auto=format&fit=crop&w=800&q=60);
          }
          &-2 {
            background-image: url(https://images.unsplash.com/photo-1525203135335-74d272fc8d9c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61b27d2cefd0dd094b5439f897b43bb7&auto=format&fit=crop&w=700&q=60);
          }
          &-3 {
            background-image: url(https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d2452cace2ee90c9781c7a39c9a30cf&auto=format&fit=crop&w=800&q=60);
          }
        }
        > .info {
          color: #8da291;
          margin-left: 20px;
          @include flex(column);
          > .name {
            font-size: 16px;
            height: 22px;
            margin-top: 16px;
            @include flex(row, center, center);
          }
          > .subtotal {
            font-size: 20px;
            font-weight: bold;
            height: 28px;
            margin-top: 2px;
            @include flex(row, center, center);
          }
        }
      }
    }
  }
}
