body {
  font-family: Microsoft JhengHei;
  box-sizing: border-box;
}
.container {
  width: $page-width;
  height: $page-height;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}
* {
  box-sizing: border-box;
}
