body {
  font-family: Microsoft JhengHei;
  box-sizing: border-box;
}
.container {
  width: 100%;
  // max-width: 1024px;
  // height: $page-height;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* {
  box-sizing: border-box;
}
